@charset "UTF-8";
/*Play*/
@font-face {
  font-family: "Play";
  src: url(../fonts/Play/Play-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Play";
  src: url(../fonts/Play/Play-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
/*SourceSansPro*/
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SourceSansPro";
  src: url(../fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 360px;
  width: 100%;
  background: #fff;
  color: #000;
}

input,
button,
textarea {
  font-family: "SourceSansPro", sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
body {
  line-height: 1.5;
  font-size: 15px;
  font-family: "SourceSansPro", sans-serif;
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #22272C;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

input.error,
textarea.error {
  border-color: #EB291C;
}

.style-text {
  background-color: #ffffff;
  border: 1px solid #D2D7DC;
  box-shadow: 0px 5px 10px rgba(174, 181, 196, 0.1);
  border-radius: 4px;
  font-size: 15px;
  color: #22272C;
  height: 45px;
  padding: 10px 15px;
  width: 100%;
  font-family: "SourceSansPro", sans-serif;
  font-weight: 600;
  transition: all 0.4s ease 0s;
}
.style-text::placeholder {
  font-family: "SourceSansPro", sans-serif;
  font-style: italic;
  color: #80858A;
  font-weight: 400;
}
.style-text::-moz-placeholder {
  font-family: "SourceSansPro", sans-serif;
  font-style: italic;
  color: #80858A;
  font-weight: 400;
}
.style-text::-webkit-input-placeholder {
  font-family: "SourceSansPro", sans-serif;
  font-style: italic;
  color: #80858A;
  font-weight: 400;
}
.style-text::-ms-input-placeholder {
  font-family: "SourceSansPro", sans-serif;
  font-style: italic;
  color: #80858A;
  font-weight: 400;
}
.style-text:focus {
  border-color: #60A9FF !important;
  box-shadow: 0px 5px 10px rgba(174, 181, 196, 0.1);
  border-width: 2px;
}

.icon-svg {
  display: inline-block;
}
.icon-svg svg {
  width: 100%;
  height: 100%;
}

.no-pointer {
  pointer-events: none;
}

.icon-svg svg {
  transition: all 0.4s ease 0s;
}

.section__light-coloured {
  background-color: #ffffff;
}

.section__darker-coloured {
  background-color: #f4f6f9;
}

.slick-track {
  display: flex;
  min-width: 0;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.slick-dots li {
  margin: 0 7px;
}
.slick-dots button {
  font-size: 0;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #dce3ec;
  cursor: pointer;
  transition: all 0.4s ease 0s;
}
.slick-dots li.slick-active button {
  background-color: #367ed2;
  box-shadow: 0 0 0 5px #fff, 0 0 0 7px #367ed2;
}

.slick-list {
  overflow: hidden;
}

.header {
  padding: 30px 0;
}
.header__row {
  display: flex;
  align-items: center;
}
.header__row--left {
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: 217px;
  align-self: flex-start;
}
.header__logo img {
  width: 100%;
  max-height: 30px;
}
.header__logo .logoimg-black {
  display: none;
}
.header__text-info {
  margin-left: 1.56vw;
  max-width: 246px;
}
.header__dop-row {
  position: relative;
  margin-left: 3.125vw;
  display: flex;
  align-items: center;
}
.header__search {
  max-width: 155px;
  width: 155px;
  height: 45px;
}
.header__search--form {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 5;
  transition: all 0.4s ease 0s;
  width: 100%;
  max-width: 155px;
}
.header__search--input {
  padding-left: 49px;
  padding-right: 49px;
}
.header__search--btn {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: transparent;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
}
.header__search--btn .icon-svg {
  width: inherit;
  height: inherit;
}
.header__search--btn .icon-svg svg {
  fill: #80858A;
}
.header__search--btn:hover .icon-svg svg {
  fill: #22272C;
}
.header__search--close {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease 0s;
}
.header__search--close .icon-svg {
  width: 14px;
  height: 14px;
}
.header__search--close svg {
  fill: #80858a;
}
.header__search--close:hover svg {
  fill: #22272c;
}
.header__search.activeChearch .header__search--form {
  max-width: 100%;
}
.header__search.activeChearch .header__search--close {
  opacity: 1;
  pointer-events: painted;
}
.header__tongue {
  margin-left: 2.03125vw;
}
.header__switch {
  margin-left: 2.0833333333vw;
}
.header__autoho {
  margin-left: 3.125vw;
}
.header__autoho--row {
  display: flex;
  align-items: center;
}
.header__autoho--user {
  margin-right: 20px;
  max-width: 27px;
  max-height: 34px;
}
.header__autoho--user img {
  width: 100%;
}
.header__autoho--user .iconsUser {
  width: 27px;
  height: 34px;
}
.header__autoho--user .iconsUser svg {
  fill: #367ED2;
}
.header__autoho--item {
  display: inline-block;
  font-weight: 600;
  color: #367ED2;
  position: relative;
  transition: all 0.4s ease 0s;
}
.header__autoho--item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px dotted #0e77d8;
  transition: inherit;
}
.header__autoho--item:not(:last-child) {
  margin-right: 10px;
}
.header__autoho--item:hover {
  color: #22272C;
}
.header__autoho--item:hover::before {
  border-color: #22272C;
}

.tongue {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.tongue__flag {
  max-width: 24px;
}
.tongue__flag img {
  width: 100%;
}
.tongue__countrys {
  margin-left: 10px;
}
.tongue__countrys--country {
  display: flex;
  align-items: center;
}
.tongue__countrys--country .icon-svg {
  margin-left: 8px;
}
.tongue__countrys--country svg {
  width: 11px;
  height: 6px;
  fill: #898e95;
}
.tongue__countrys--country span {
  display: inline-block;
  width: 24px;
  overflow: hidden;
}
.tongue__countrys--fall-out {
  display: none;
  position: absolute;
  min-width: 80px;
  padding-top: 5px;
  z-index: 5;
}
.tongue__countrys--list {
  box-shadow: 0px 5px 10px rgba(174, 181, 196, 0.3);
  background-color: #ffffff;
  padding: 10px;
  margin-left: -10px;
  top: 100%;
  border-radius: 5px;
  padding-top: 10px;
}
.tongue__countrys--item {
  transition: all 0.4s ease 0s;
  padding-bottom: 2px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.tongue__countrys--item img {
  width: 24px;
  margin-right: 10px;
}
.tongue__countrys--item:hover {
  color: #367ED2;
}
.tongue:hover .tongue__countrys--country svg {
  fill: #22272C;
}

.switch__btn {
  border-radius: 50px;
  width: 45px;
  height: 25px;
  background: #929ca8;
  display: block;
  cursor: pointer;
  position: relative;
}
.switch__icon {
  position: absolute;
  width: 15px;
  height: 15px;
  display: block;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  transition: all 0.4s ease 0s;
}
.switch__sheckbox {
  display: none;
}
.switch.active-black .switch__icon {
  left: calc(100% - 20px);
  background-color: #000000;
}

.main-menu {
  background: linear-gradient(180deg, #394049 0%, #16191e 100%);
}
.main-menu__list {
  display: flex;
  margin-left: -20px;
  margin-right: -20px;
}
.main-menu__list--item {
  position: relative;
}
.main-menu__list--item:not(:last-child) {
  border-right: 2px solid #000000;
}
.main-menu__list .icon-svg {
  width: 11px;
  height: 6px;
}
.main-menu__link {
  color: #d4d8dd;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Play", sans-serif;
  display: block;
  padding: 14px 18px;
  display: flex;
  transition: all 0.4s ease 0s;
}
.main-menu__link .icon-svg {
  margin-left: 10px;
}
.main-menu__link .icon-svg svg {
  fill: #d4d8dd;
}
.main-menu__link:hover {
  color: #60a9ff;
}
.main-menu__link:hover .icon-svg svg {
  fill: #60a9ff;
}

.main-menu__list--item .sub-menu {
  position: absolute;
  width: 300px;
  background: #f4f6f9;
  padding: 15px 0;
  display: none;
  z-index: 10;
}
.main-menu__list--item .sub-menu__item {
  position: relative;
}
.main-menu__list--item .sub-menu__link {
  color: #367ED2;
  font-weight: 600;
  padding: 6px 30px 6px 40px;
  display: flex;
  position: relative;
  align-self: center;
}
.main-menu__list--item .sub-menu__link span {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.main-menu__list--item .sub-menu__link span::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background-color: #367ED2;
  opacity: 0;
  transition: all 0.4s ease 0s;
}
.main-menu__list--item .sub-menu__link::after {
  content: "—";
  position: absolute;
  left: 20px;
  top: 45%;
  transform: translateY(-50%);
}
.main-menu__list--item .sub-menu__link .icon-svg {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.main-menu__list--item .sub-menu__link .icon-svg svg {
  fill: #367ED2;
}
.main-menu__list--item .sub-menu__link:hover span::before {
  opacity: 1;
}
.main-menu__list--item .sub-menu__sub {
  left: 99%;
  top: 20%;
}
.main-menu__list--item > .sub-menu {
  top: 100%;
  left: 0;
}
.main-menu__poz-left > .sub-menu {
  right: 0;
  left: auto;
}
.main-menu__poz-left > .sub-menu > .sub-menu__item > .sub-menu__link {
  padding-left: 60px;
  padding-right: 30px;
}
.main-menu__poz-left > .sub-menu > .sub-menu__item > .sub-menu__link .icon-svg {
  right: auto;
  left: 25px;
  transform: translateY(-50%) rotate(90deg);
}
.main-menu__poz-left > .sub-menu > .sub-menu__item > .sub-menu__link::after {
  left: 40px;
}
.main-menu__poz-left > .sub-menu .sub-menu__sub {
  left: auto;
  right: 99%;
}
.main-menu.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.burger-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black url(../img/icons/gif-anim.gif) center/70px no-repeat;
  display: none;
  z-index: 99999999;
}
.preloader.preloader_dark {
  background: white url(../img/icons/gif-anim-black.gif) center/70px no-repeat;
}

.loading {
  position: relative;
}
.loading::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7) url(../img/icons/gif-anim.gif) center/35px no-repeat;
  z-index: 22;
}

.section {
  padding: 60px 0;
}
.section__news {
  padding-top: 30px;
}

.latest-news {
  display: flex;
}
.latest-news__slider {
  width: 66%;
}
.latest-news__aside {
  width: 34%;
  padding-left: 30px;
}

.latest-slider {
  position: relative;
}
.latest-slider__item {
  min-height: 460px;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  z-index: 2 !important;
  position: relative;
}
.latest-slider__item--content {
  width: 100%;
  background: linear-gradient(180deg, #4189de 0%, #2575d2 100%);
  border-radius: 0px 0px 8px 8px;
  padding: 26px 70px 20px 30px;
  align-self: flex-end;
  position: relative;
}
.latest-slider__item--text {
  font-family: "Play", sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
}
.latest-slider__has-htag {
  position: absolute;
  display: flex;
  top: -13px;
  flex-wrap: wrap;
}
.latest-slider .slick-track {
  border-radius: 4px;
}

.link-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.has-htag {
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 10px;
  display: inline-block;
  margin-top: 5x;
  margin-bottom: 10px;
}
.has-htag__type-1 {
  color: #22272C;
  background-color: #ffffff;
  padding: 5px 10px;
}
.has-htag__type-2 {
  color: #80858a;
  background-color: #f4f6f9;
  font-weight: 700;
  padding: 1px 6px;
}
.has-htag__type-3 {
  background-color: #80858a;
  color: #ffffff;
  padding: 5px 10px;
}

.slider__wr-btn {
  display: flex;
  position: absolute;
  right: 1px;
  margin-top: -41px;
  z-index: 10;
  z-index: 10;
}
.slider__wr-btn .btn-slider {
  width: 40px;
  height: 40px;
  background: #ffffff;
}
.slider__wr-btn .btn-slider svg {
  height: 11px;
  width: 6px;
  fill: #898e95;
}
.slider__wr-btn .btn-slider-prev {
  border-radius: 4px 0px 0px 0px;
  margin-right: 2px;
}
.slider__wr-btn .btn-slider-next {
  border-radius: 0px 0px 5px 0px;
}
.slider__wr-btn .btn-slider:hover svg {
  fill: #367ed2;
}

.latest-aside__item {
  padding: 15px 20px;
  position: relative;
  border: 2px solid transparent;
}
.latest-aside__item:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  height: 1px;
  background-color: #e5eaee;
}
.latest-aside__item--hass {
  display: flex;
  flex-wrap: wrap;
}
.latest-aside__item--link {
  font-weight: 600;
  font-size: 16px;
  color: #367ED2;
}
.latest-aside__item--link:hover {
  text-decoration: underline;
}
.latest-aside__item.active-latest {
  border-color: #367ed2;
  border-radius: 4px;
}
.latest-aside__item.active-latest .has-htag {
  color: #ffffff;
  background-color: #367ed2;
}
.latest-aside__item.active-latest .latest-aside__item--link {
  color: #22272C;
}

.seo-row {
  display: flex;
  align-items: flex-start;
}
.seo-row__content {
  width: 58.3%;
}
.seo-row__course {
  width: 42%;
  display: flex;
  justify-content: flex-end;
}
.seo-row__text {
  margin-top: 13px;
  font-size: 16px;
}
.seo-row__text p {
  padding: 12px 0;
}
.seo-row__dop-text {
  display: none;
}

.title-2 {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
}

.title-3 {
  font-size: 22px;
  font-family: "Play", sans-serif;
  font-weight: 700;
}

.seo-btn {
  color: #367ED2;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  position: relative;
  transition: all 0.4s ease 0s;
  display: inline-block;
}
.seo-btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  border-bottom: 2px dotted #0e77d8;
  transition: inherit;
}
.seo-btn:hover {
  color: #22272C;
}
.seo-btn:hover::before {
  border-color: #22272C;
}

.course-currency {
  min-width: 370px;
}
.course-currency__content {
  margin-top: 15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(174, 181, 196, 0.1);
}
.course-currency__tabs {
  display: flex;
}
.course-currency__tab {
  color: #367ED2;
  font-weight: 700;
  width: 25%;
  text-align: center;
  padding: 9px 10px;
  transition: all 0.4s ease 0s;
  overflow: hidden;
  position: relative;
}
.course-currency__tab span {
  position: relative;
  z-index: 3;
}
.course-currency__tab:first-child {
  border-radius: 8px 0 0 0;
}
.course-currency__tab:last-child {
  border-radius: 0 8px 0 0;
}
.course-currency__tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #4189de 0%, #2575d2 100%);
  transition: inherit;
  opacity: 0;
}
.course-currency__tab.active-cur-tab, .course-currency__tab:hover {
  color: #ffffff;
}
.course-currency__tab.active-cur-tab::before, .course-currency__tab:hover::before {
  opacity: 1;
}
.course-currency__items {
  display: none;
}
.course-currency__items.active {
  display: block;
}
.course-currency__item {
  display: flex;
  align-items: center;
  border-top: 1px solid #e9eef2;
  position: relative;
}
.course-currency__item--cur {
  width: 116px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 20px;
  text-transform: uppercase;
  border-right: 1px solid #e9eef2;
}
.course-currency__item--cur img {
  width: 24px;
  max-width: 24px;
  margin-right: 20px;
}
.course-currency__item--status {
  width: calc(100% - 116px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 20px 10px 20px;
  color: #898e95;
}
.course-currency__item--status span span {
  font-weight: 800;
  color: #22272C;
  display: inline-block;
  padding-right: 3px;
}
.course-currency__item--status .icon-svg {
  margin-left: 10px;
}
.course-currency__item--status svg {
  width: 11px;
  height: 6px;
}
.course-currency__item--link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.wr-row-top {
  display: flex;
  flex-wrap: wrap;
}
.wr-row-top .title-2,
.wr-row-top .title-3 {
  padding-right: 40px;
}
.wr-row-top .categor-items {
  margin-left: auto;
}

.categor-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.categor__item {
  color: #80858A;
  position: relative;
  margin: 5px 12px;
  transition: all 0.4s ease 0s;
  font-weight: 600;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.categor__item:hover {
  text-decoration: underline;
}
.categor__item:hover {
  color: #367ED2;
}

.wr-hass {
  display: flex;
  flex-wrap: wrap;
}

.articles__row {
  display: flex;
  flex-wrap: wrap;
  margin: 30px -18px 0 -18px;
}
.articles__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 18px 45px 18px;
  width: calc(25% - 36px);
}
.articles__item--img {
  border: 1px solid #d4dbe3;
  border-radius: 8px;
  overflow: hidden;
}
.articles__item--img img {
  width: 100%;
}
.articles__item--hass {
  margin-top: 20px;
}
.articles__item--link {
  margin-top: 10px;
  font-weight: 700;
  color: #367ED2;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.articles__item--link:hover {
  text-decoration: underline;
}
.articles__item--text {
  margin-top: 10px;
}
.articles__item--bottom {
  display: flex;
  margin-top: 36px;
}
.articles__item .subscription {
  height: 100%;
  min-width: 264px;
}
.articles__big {
  width: calc(50% - 36px);
  margin: 0 18px 45px 18px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.articles__big img {
  width: 100%;
}
.articles__big::before {
  content: "";
  position: absolute;
  left: 0;
  height: 50%;
  bottom: 0;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 79.69%);
}
.articles__big--content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 20px 20px 20px 30px;
}
.articles__big--title {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  color: #ffffff;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.articles__big--title:hover {
  text-decoration: underline;
}

.item-bottom__item {
  display: flex;
  color: #80858a;
  align-items: center;
}
.item-bottom__item .icon-svg {
  margin-right: 9px;
}
.item-bottom__item:not(:last-child) {
  margin-right: 16px;
}

.icon-svg_time {
  width: 20px;
  height: 20px;
}

.icon-svg_voice {
  width: 22px;
  height: 15px;
}

.subscription {
  max-width: 264px;
  background: linear-gradient(180deg, #4189de 0%, #2575d2 100%);
  border-radius: 8px;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscription__img {
  display: flex;
  justify-content: center;
}
.subscription__title, .subscription__text {
  text-align: center;
  color: #ffffff;
  max-width: 209px;
}
.subscription__title {
  font-size: 26px;
  font-weight: 700;
  font-family: "Play", sans-serif;
  margin-top: 20px;
}
.subscription__text {
  margin-top: 5px;
}
.subscription__wr-form {
  margin-top: 26px;
  width: 100%;
}
.subscription__form-row {
  display: flex;
}
.subscription__input {
  width: calc(100% - 45px);
  padding: 5px 10px 5px 20px;
  font-size: 15px;
  font-family: "SourceSansPro", sans-serif;
  border-radius: 4px 0 0 4px;
}
.subscription__input, .subscription__btn {
  height: 45px;
}
.subscription__btn {
  width: 45px;
  background-color: #22272C;
  transition: all 0.4s ease 0s;
  border-radius: 0 4px 4px 0;
}
.subscription__btn svg {
  width: 18px;
  height: 15px;
  fill: #ffffff;
}
.subscription__btn:hover svg {
  fill: #60A9FF;
}

.js-wr-slider {
  margin: 0 -65px;
}

.events-slider {
  margin: 30px 0 0 0;
}
.events-slider__item {
  background-color: #ffffff;
  border: 1px solid #d8e3ee;
  border-radius: 8px;
  padding: 20px;
  margin: 0 15px;
}
.events-slider__item--top {
  display: inline-block;
  padding: 6px 15px;
  background: linear-gradient(180deg, #4189de 0%, #2575d2 100%);
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
}
.events-slider__item--events {
  margin-top: 20px;
}
.events-slider__item--event {
  display: flex;
  align-items: center;
}
.events-slider__item--event img {
  width: 24px;
  height: 24px;
}
.events-slider__item--event span {
  margin-left: 10px;
}
.events-slider__item--event:not(:first-child) {
  margin-top: 12px;
}
.events-slider__item--btn {
  margin-top: 27px;
}

.btn-type-1 {
  display: inline-block;
  background-color: #ffffff;
  border: 2px solid #367ed2;
  border-radius: 4px;
  text-align: center;
  padding: 7px 21px;
  color: #367ed2;
  font-weight: 600;
  transition: all 0.4s ease 0s;
}
.btn-type-1:hover {
  box-shadow: 0 0 0 2px #367ed2;
}
.btn-type-1:active {
  background-color: #367ed2;
  color: #ffffff !important;
}

.wr-slide-pos {
  position: relative;
  padding: 0 50px;
}

.slide-btn-arrow {
  position: absolute;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);
}
.slide-btn-arrow svg {
  width: 19px;
  height: 63px;
  fill: none;
  stroke: #80858a;
}
.slide-btn-arrow_prev {
  left: 0;
}
.slide-btn-arrow_next {
  right: 0;
}
.slide-btn-arrow:hover svg {
  stroke: #60A9FF;
}

.wr-btn-center {
  display: flex;
  justify-content: center;
}

.articles_new .articles__item {
  flex-direction: row;
  width: calc(50% - 36px);
  justify-content: flex-start;
}
.articles_new .articles__item--img {
  width: 234px;
}
.articles_new .articles__item .articles__item--hass {
  margin-top: 0;
}
.articles_new .articles__item > div:nth-child(2) {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles_new .articles__item .articles__item--bottom {
  margin-top: 15px;
}

.title-style-4 {
  font-size: 26px;
  font-weight: 700;
  font-family: "Play", sans-serif;
}

.row-tops {
  display: flex;
  flex-wrap: wrap;
}

.tops-content {
  max-width: 370px;
  width: 40%;
}
.tops-content:not(:first-child) {
  margin-left: 2.34375vw;
}

.tops {
  margin-top: 15px;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(174, 181, 196, 0.15);
  border-radius: 8px;
}
.tops__item {
  display: flex;
  font-weight: 600;
  align-items: center;
  min-height: 44px;
  padding: 5px 28px 5px 20px;
  position: relative;
}
.tops__item:not(:last-child) {
  border-bottom: 1px solid #e9eef2;
}
.tops__item--title {
  transition: all 0.4s ease 0s;
}
.tops__item--reward {
  min-width: 24px;
  margin-right: 15px;
  display: flex;
  position: relative;
  color: #1bac67;
}
.tops__item--reward img {
  width: 24px;
}
.tops__item--emblem {
  margin-left: auto;
}
.tops__item:hover {
  color: #60A9FF;
}

.svg-appraisal {
  width: 32px;
  height: 32px;
  border-radius: 50px;
}
.svg-appraisal__path {
  stroke: #1bac67;
  fill: none;
  stroke-width: 3px;
}
.svg-appraisal.no-appraisal {
  box-shadow: inset 0 0 0 2px #dcdcdc;
}

.reward-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.tops-wr {
  margin-left: auto;
  margin-top: 55px;
}

.online {
  border: 2px solid #367ED2;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  max-width: 264px;
}
.online__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px 0 -10px;
}
.online__item {
  position: relative;
  border-radius: 50%;
  width: calc(33.33% - 20px);
  display: flex;
  margin: 20px 10px 0 10px;
}
.online__item img {
  width: 100%;
  border-radius: inherit;
}
.online-active {
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #1bac67;
  box-shadow: 0 0 0 4px #ffffff;
  border-radius: 50%;
  right: 0;
  bottom: 0;
}

.comments__row {
  display: flex;
}
.comments__main {
  max-width: 760px;
  width: 90%;
}
.comments__aside {
  margin-left: auto;
}
.comments__aside .online {
  margin-left: auto;
}
.comments__items {
  margin-top: 10px;
}
.comments__item {
  padding: 30px 0 0 0;
  display: flex;
  align-items: flex-start;
}
.comments__item--img {
  width: 70px;
  position: relative;
}
.comments__item--img img {
  width: 100%;
  border-radius: 50%;
}
.comments__item--img.user-admin::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #eb291c url(../img/svg/sign-admin.svg) center no-repeat;
  right: 0;
  bottom: 0;
}
.comments__item--content {
  margin-left: 30px;
  padding: 0 0 30px 0;
  width: calc(100% - 70px);
}
.comments__item--title {
  color: #367ED2;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.2s ease 0s;
  text-decoration: none;
}
.comments__item--title:hover {
  text-decoration: underline;
}
.comments__item--text {
  font-style: italic;
  font-size: 16px;
  margin-top: 10px;
  font-family: sans-serif;
}
.comments__item--bot {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.comments__item:not(:last-child) .comments__item--content {
  border-bottom: 1px solid #e4e8ec;
}

.icon-svg_user {
  width: 16px;
  height: 16px;
}

.comments-more {
  margin-top: 45px;
}

body.body-black {
  background-color: #22272C;
}
body.body-black .header__text-info {
  color: #D4DBE1;
}
body.body-black .header__logo .logo-norm {
  display: none;
}
body.body-black .header__logo .logoimg-black {
  display: block;
}
body.body-black .header__autoho--item {
  color: #60A9FF;
}
body.body-black .header__autoho--item::before {
  border-color: #60A9FF;
}
body.body-black .header__autoho--item:hover {
  color: #ffffff;
}
body.body-black .header__autoho--item:hover::before {
  border-color: #ffffff;
}
body.body-black .header__search--input {
  background-color: #000000;
  border-color: #80858A;
  color: #80858a;
}
body.body-black .header__autoho--user .iconsUser svg {
  fill: #60A9FF;
}
body.body-black .header__search--btn:hover .icon-svg svg, body.body-black .header__search--close:hover .icon-svg svg {
  fill: #60A9FF;
}
body.body-black .tongue__countrys--country {
  color: #D4DBE1;
}
body.body-black .tongue:hover .tongue__countrys--country svg {
  fill: #ffffff;
}
body.body-black .main-menu {
  background: #000000;
}
body.body-black .main-menu__list--item:not(:last-child) {
  border-color: #22272C;
}
body.body-black .section__light-coloured {
  background-color: #22272C;
}
body.body-black .section__darker-coloured {
  background-color: #000000;
}
body.body-black .slick-dots li button {
  background-color: #535c65;
}
body.body-black .slick-dots li.slick-active button {
  background-color: #60a9ff;
  box-shadow: 0 0 0 5px #22272C, 0 0 0 7px #60a9ff;
}
body.body-black .slider__wr-btn .btn-slider {
  background-color: #000000;
}
body.body-black .has-htag__type-2 {
  background-color: #000000;
}
body.body-black .latest-aside__item::before {
  background-color: #000000;
}
body.body-black .latest-aside__item .latest-aside__item--link {
  color: #60A9FF;
}
body.body-black .active-latest .latest-aside__item--link {
  color: #D4DBE1;
}
body.body-black .title-2,
body.body-black .title-3,
body.body-black .seo-row__text,
body.body-black .articles__item--text,
body.body-black .title-style-4 {
  color: #D4DBE1;
}
body.body-black .seo-btn {
  color: #60A9FF;
}
body.body-black .seo-btn::before {
  border-color: #60A9FF;
}
body.body-black .seo-btn:hover {
  color: #fff;
}
body.body-black .seo-btn:hover::before {
  border-color: #fff;
}
body.body-black .course-currency__content {
  background-color: #22272C;
  color: #d4dbe1;
}
body.body-black .course-currency__item,
body.body-black .course-currency__item--cur,
body.body-black .tops__item {
  border-color: #000000;
}
body.body-black .course-currency__item--status span span,
body.body-black .categor__item,
body.body-black .events-slider__item--events,
body.body-black .tops,
body.body-black .comments__item--text,
body.body-black .menu-mobile--link,
body.body-black .menu-mobile__sub a {
  color: #d4dbe1;
}
body.body-black .articles__item--link,
body.body-black .comments__item--title,
body.body-black .footer__item--list a {
  color: #60A9FF;
}
body.body-black .articles__item--img {
  border: none;
}
body.body-black .events-slider__item,
body.body-black .btn-type-1,
body.body-black .tops {
  background: #22272C;
}
body.body-black .btn-type-1 {
  color: #60A9FF;
  border-color: #60A9FF;
}
body.body-black .btn-type-1:hover {
  box-shadow: 0 0 0 2px #60A9FF;
}
body.body-black .btn-type-1:active {
  background-color: #60A9FF;
}
body.body-black .online,
body.body-black .footer {
  background-color: #000000;
}
body.body-black .online,
body.body-black .comments__item:not(:last-child) .comments__item--content {
  border-color: black;
}
body.body-black .loading::after {
  background: rgba(255, 255, 255, 0.7) url(../img/icons/gif-anim-black.gif) center/35px no-repeat;
}
body.body-black .mobile-menu__content {
  background-color: #22272C;
}
body.body-black .mobile-menu .close-menu svg {
  fill: #d4dbe1;
}
body.body-black .mobile-menu .close-menu:hover svg {
  fill: #60A9FF;
}

.footer {
  background-color: #1c1f24;
  padding: 14px 0 60px 0;
}
.footer__items {
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  width: calc(25% - 55px);
  margin-top: 45px;
  position: relative;
  margin-right: 55px;
}
.footer__item--title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Play", sans-serif;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.footer__item--title .icon-svg {
  width: 11px;
  height: 6px;
  display: flex;
  margin-left: 30px;
}
.footer__item--title svg {
  fill: #ffffff;
}
.footer__item--title.active svg {
  transform: rotate(-90deg);
}
.footer__item--list {
  margin-top: 12px;
}
.footer__item--list a {
  color: #81bbff;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  line-height: 30px;
}
.footer__item--list a:hover {
  text-decoration: underline;
}
.footer__item--bg {
  padding: 0 10px 30px 0;
}
.footer__item--bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: -59px;
  right: -10px;
  left: -2000px;
  background: linear-gradient(180deg, #4189de 0%, #2575d2 100%);
  border-radius: 0px 0px 8px 0px;
}
.footer__item--bg > * {
  position: relative;
  z-index: 4;
}
.footer__item--text {
  margin-top: 15px;
  color: #a5c8f2;
  font-weight: 600;
}
.footer__switch {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.logo-footer {
  max-width: 217px;
  max-height: 30px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 20px;
  max-width: 460px;
  width: 100%;
}

.popup__close {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: -30px;
  right: -30px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
  cursor: pointer;
  background: #fff url(../img/svg/close.svg) 50% 50%/65% no-repeat;
}

.scroll-up {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 100;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #dcdcdc;
  transition: all 0.4s ease 0s;
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}
.scroll-up:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 3px solid #60A9FF;
  width: 10px;
  height: 10px;
  border-right-width: 0;
  border-bottom-width: 0;
  transition: inherit;
  opacity: 0.6;
}
.scroll-up__path {
  box-sizing: border-box;
  fill: none;
  stroke: #60A9FF;
  stroke-width: 3px;
  transition: all 0.4s ease 0s;
}
.scroll-up.scroll-up_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up:hover:before {
  border-color: #60A9FF;
  opacity: 1;
}

@media (max-width: 1350px) {
  .js-wr-slider {
    margin: 0;
  }
}
@media (max-width: 1300px) {
  .main-menu__list {
    margin: 0;
  }
  .main-menu__link {
    padding: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  /**/
}
@media (max-width: 1100px) {
  .header {
    padding: 10px 0;
  }
  .header__row--left {
    flex-direction: column;
  }
  .header__text-info {
    margin-left: 0;
    margin-top: 5px;
    line-height: 14px;
    font-size: 12px;
  }
  .header__dop-row {
    margin-left: auto;
  }

  .latest-news__aside {
    padding-left: 10px;
  }

  .tops-content {
    width: 48.7%;
  }

  .tops-wr {
    width: 100%;
    margin-top: 20px;
  }
  .tops-wr .subscription {
    max-width: 100%;
  }
  .tops-wr .subscription__wr-form {
    max-width: 400px;
  }

  .tops-content {
    max-width: 100%;
  }

  .comments__aside {
    display: none;
  }

  .comments__main {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .articles__item {
    width: calc(33.33% - 36px);
  }

  .articles__big {
    width: calc(66.67% - 36px);
  }

  .main-menu__link {
    font-size: 11px;
  }

  .articles_new .articles__item--img {
    width: 150px;
  }
}
@media (max-width: 992px) {
  .header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .main-menu {
    display: none;
  }

  .burger-menu {
    display: block;
    position: relative;
    width: 32px;
    height: 24px;
    margin-left: 20px;
    order: 1;
  }
  .burger-menu::before,
.burger-menu span::before, .burger-menu::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000000;
    border-radius: 10px;
    left: 0;
    transition: all 0.4s ease 0s;
  }
  .burger-menu::before {
    top: 0;
  }
  .burger-menu span::before {
    top: 50%;
    margin-top: -2px;
  }
  .burger-menu::after {
    bottom: 0;
  }

  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: -150%;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 0.4s ease 0s;
  }
  .mobile-menu__content {
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    right: 0;
    width: 400px;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    padding: 60px 20px 30px 30px;
    z-index: 999999;
    box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.8);
  }
  .mobile-menu .close-menu {
    background-color: transparent;
    margin-left: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
  }
  .mobile-menu .close-menu svg {
    width: 24px;
    height: 24px;
    fill: #22272C;
  }
  .mobile-menu .close-menu:hover svg {
    fill: #000000;
  }
  .mobile-menu::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all 0.2s ease 0.2s;
  }
  .mobile-menu.active-menus {
    right: 0;
  }
  .mobile-menu.active-menus::before {
    opacity: 1;
  }

  .menu-mobile {
    margin-top: 10px;
  }
  .menu-mobile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-mobile__top .icon-svg {
    padding: 10px;
    cursor: pointer;
    max-height: 27px;
    display: flex;
    align-items: center;
  }
  .menu-mobile__top svg {
    fill: #000000;
    width: 11px;
    height: 6px;
    transform: rotate(-90deg);
  }
  .menu-mobile__top:hover svg {
    fill: #60A9FF;
  }
  .menu-mobile a {
    transition: all 0.4s ease 0s;
  }
  .menu-mobile a:hover {
    color: #60A9FF;
  }
  .menu-mobile--link {
    font-weight: 600;
    font-size: 18px;
    color: #22272C;
    padding: 2px 0;
  }
  .menu-mobile__sub {
    margin-top: 5px;
    margin-left: 10px;
    display: none;
    margin-bottom: 10px;
  }
  .menu-mobile__sub a {
    font-size: 16px;
    color: #22272C;
    line-height: 30px;
  }
  .menu-mobile-li.active-sub > .menu-mobile__top svg {
    fill: #60A9FF;
    transform: rotate(0deg);
  }

  .header__search {
    max-width: 100%;
    width: 100%;
  }
  .header__search--form {
    position: relative;
    margin-top: 30px;
    max-width: inherit;
  }

  .latest-news__slider {
    width: 100%;
  }

  .latest-news__aside {
    display: none;
  }

  .section {
    padding: 30px 0;
  }

  .seo-row__content,
.seo-row__course {
    width: 50%;
  }

  .wr-slide-pos {
    padding: 0 20px;
  }

  .footer__items {
    justify-content: space-between;
  }

  .footer__item {
    margin-right: 30px;
  }
}
@media (max-width: 850px) {
  .seo-row {
    flex-direction: column;
  }
  .seo-row__content, .seo-row__course {
    width: 100%;
  }
  .seo-row__course {
    margin-top: 40px;
  }
  .seo-row__course .course-currency {
    width: 100%;
    min-width: auto;
  }
}
@media (max-width: 768px) {
  .header__autoho--row {
    margin-top: 30px;
  }

  .header__logo {
    max-width: 150px;
  }

  .header__text-info {
    margin-top: 30px;
    font-size: 17px;
    line-height: 22px;
  }

  .header__autoho {
    margin-left: 0;
  }

  .header {
    padding: 15px 0;
  }

  .latest-slider__item--text {
    font-size: 18px;
  }

  .articles__big {
    width: calc(100% - 20px);
    margin: 0 10px 20px 10px;
  }

  .articles__item {
    width: calc(50% - 20px);
    margin: 0 10px 20px 10px;
  }

  .articles__row {
    margin: 30px -10px 0 -10px;
  }

  .articles__item .subscription {
    width: 100%;
    max-width: 100%;
  }

  .wr-row-top {
    flex-direction: column;
  }
  .wr-row-top .categor-items {
    margin-left: -6px;
  }

  .title-2 {
    font-size: 26px;
    line-height: normal;
  }

  .slide-btn-arrow svg {
    width: 15px;
    height: 40px;
  }

  .articles_new .articles__item {
    flex-direction: column;
    width: calc(50% - 20px);
  }
  .articles_new .articles__item--img {
    width: 100%;
  }
  .articles_new .articles__item .articles__item--hass {
    margin-top: 20px;
  }

  .articles_new .articles__item > div:nth-child(2) {
    margin-left: 0;
  }

  .tops-content {
    width: 100%;
  }
  .tops-content:not(:first-child) {
    margin-top: 20px;
  }

  .title-style-4 {
    font-size: 22px;
  }

  .scroll-up {
    width: 35px;
    height: 35px;
  }

  .footer__item {
    width: calc(50% - 30px);
  }
}
@media (max-width: 580px) {
  .articles__item,
.articles_new .articles__item {
    width: calc(100% - 20px);
  }

  .comments__item--img {
    width: 45px;
  }

  .comments__item--content {
    margin-left: 20px;
    width: calc(100% - 45px);
  }

  .comments-more {
    margin-top: 0;
  }
}
@media (max-width: 480px) {
  .tongue__flag {
    display: none;
  }

  .switch__btn {
    width: 40px;
    height: 20px;
  }

  .switch__icon {
    width: 12px;
    height: 12px;
  }

  .mobile-menu__content {
    width: 360px;
  }

  .header__logo {
    max-width: 130px;
  }

  .tongue__countrys {
    margin-left: 0;
    margin-right: 15px;
  }

  .footer__items {
    flex-direction: column;
  }

  .footer__item--bg::before {
    right: -20px;
    top: -34px;
    border-radius: 0;
  }

  .footer__item {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
  }

  .footer__item--list {
    display: none;
  }

  .footer__switch {
    justify-content: flex-start;
  }
}