@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* обнуление общих параметров */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
section,
header,
footer {
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  width: 100%;
  background: #fff;
  color: #000;
}

body {
  font-size: 100%;
  line-height: normal;
  font-size: 12px;
  position: relative;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: "Montserrat", sans-serif;
}

input.error,
textarea.error {
  border-color: red;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* / обнуление общих параметров */
.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
  justify-content: space-between;
}

.justify-content-between {
  justify-content: space-between;
}

.none {
  display: none !important;
}

.body-fixed {
  position: fixed;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.ibg img.ibg-img {
  display: none;
}

li.counter {
  list-style-type: none;
  counter-reset: item;
}
li.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
li.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  background: #ffffff;
}
.header__row {
  display: flex;
  align-items: center;
  position: relative;
  padding: 11px 0;
}
.header__row::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #7f4130;
  bottom: -2px;
  z-index: 2;
}
.header__logo {
  max-width: 267px;
  max-height: 84px;
}
.header__logo img {
  width: 100%;
}
.header__main {
  margin-left: 43px;
}
.header__main--head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__head {
  padding-bottom: 8px;
  border-bottom: 1px solid #e8efe8;
}
.header__head a {
  transition: all 0.1s ease 0s;
  font-weight: 500;
}
.header__head a:hover {
  color: #000000;
}
.header__head--basket {
  margin-right: 50px;
}
.header__head--basket-link {
  color: #8d8d8d;
  position: relative;
  padding-left: 30px;
}
.header__head--basket-link::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 16px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icons/sprite.png) 0 0 no-repeat;
  background-position: -2px -2px;
}
.header__head--basket-link:hover:before {
  background-position: -2px -22px;
}
.header__head--phone {
  position: relative;
}
.header__head--phone-link {
  width: 29px;
  height: 15px;
  position: relative;
  display: inline-block;
  transition: all 0.1s ease 0s;
  font-weight: 500;
}
.header__head--phone-link::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 15px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icons/sprite.png) 0 0 no-repeat;
  background-position: -25px -3px;
}
.header__head--phone-link:hover::before {
  background-position: -25px -23px;
}
.header-menu ul {
  display: flex;
}
.header-menu ul li {
  position: relative;
  margin-top: 25px;
  padding-right: 13px;
}
.header-menu ul li:not(:first-child) {
  padding-left: 26px;
}
.header-menu ul li:not(:last-child)::before {
  content: "";
  position: absolute;
  right: 0;
  height: 23px;
  width: 1px;
  background: #000000;
  top: 0;
}
.header-menu ul a {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  transition: all 0.4s ease 0s;
  display: inline-block;
  line-height: normal;
}
.header-menu ul a:hover {
  color: #ef7f1a;
}

.head__phone-content {
  position: absolute;
  right: 0;
  background-color: #ffffff;
  max-width: 250px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  top: 120%;
  z-index: 10;
  box-shadow: 0 0 4px -1px rgba(0, 0, 0, 0.5);
  padding: 15px;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  opacity: 0;
}
.head__phone-content a {
  color: #000;
  font-size: 14px;
  transition: all 0.4s ease 0s;
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}
.head__phone-content a:hover {
  color: #ef7f1a;
}

.header__head--phone:hover .head__phone-content {
  visibility: visible;
  opacity: 1;
}

.menu-burger {
  display: none;
  margin-left: 30px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -webkit-user-select: none;
  user-select: none;
  width: 50px;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}

.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}

.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.active .top {
  stroke-dashoffset: -64px;
}

.ham8.active .middle {
  transform: rotate(90deg);
}

.ham8.active .bottom {
  stroke-dashoffset: -64px;
}

.section {
  position: relative;
}

.main-slider__item {
  background-color: #dfe2e3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 20px;
}
.main-slider__content {
  background-color: rgba(46, 61, 71, 0.8);
  text-transform: uppercase;
  padding: 20px 27px 20px 107px;
  margin-top: 20px;
}
.main-slider__content--title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  max-width: 760px;
}
.main-slider__content--subtitle {
  color: #ef7f1a;
  font-size: 28px;
  font-weight: 700;
  max-width: 760px;
  margin-top: 5px;
}

.wr-btn-price {
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  position: relative;
  margin-right: -100px;
}

.btn-price-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  animation: animPrice 2s linear infinite;
}
.btn-price-animate::before, .btn-price-animate::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.btn-price-animate::before {
  width: 121px;
  height: 121px;
  background-image: radial-gradient(circle 61px at center, rgba(239, 127, 26, 0) 0%, rgba(147, 76, 44, 0) 82%, #7f4130 100%);
  opacity: 0.2;
}
.btn-price-animate::after {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle 84px at center, rgba(239, 127, 26, 0) 0%, rgba(147, 76, 44, 0) 82%, #7f4130 100%);
  opacity: 0.2;
}

@keyframes animPrice {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.btn-price {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ef7f1a;
  border: 1px solid #ffd3b0;
  box-shadow: inset 0 0 13px rgba(255, 202, 161, 0.71);
  background-image: linear-gradient(to top, #ef7f1a 0%, #ef7f1a 27%, #fea95d 46%, #ef7f1a 100%);
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-price__download {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.btn-price:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/icons/bg-btn-price.png) center/cover repeat;
}
.btn-price:after {
  content: "";
  position: absolute;
  width: 75px;
  height: 38px;
  background: #ffffff;
  border-radius: 100px/50px;
  right: -24px;
  top: -21px;
  transform: rotate(63deg);
  box-shadow: -1px 2px 16px rgba(44, 14, 8, 0.3);
}
.btn-price__content {
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.btn-price__content--title {
  margin-top: 5px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 1px 4px #7f4130;
}
.btn-price__content--subtitle {
  font-weight: 300;
  text-shadow: 0 1px 4px #7f4130;
}
.btn-price__icons {
  position: relative;
  padding-bottom: 5px;
}
.btn-price__icons img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-price__icons:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  align-items: center;
}
.slick-dots button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  font-size: 0;
}
.slick-dots li {
  margin: 0 10px;
}
.slick-dots .slick-active button {
  background-color: #ef7f1a;
}

.section-slider .slick-dots {
  position: absolute;
  top: 145px;
  left: 26%;
}

.section-protection {
  background: url(../img/bg-protestion.png) 0 -150px/100% no-repeat, url(../img/bg-proc-top.png) top/cover repeat;
  padding-top: 50px;
  background-color: #e9f0e9;
  padding-bottom: 45px;
}

.slider-protection .slick-list {
  padding-top: 30px !important;
}
.slider-protection__item {
  cursor: pointer;
  position: relative;
  padding-bottom: 100px;
}
.slider-protection__item--container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-protection__item--img {
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e8efe8;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.4s ease 0s;
}
.slider-protection__item--img img {
  transition: all 0.4s ease 0s;
  position: absolute;
  max-width: 80%;
  max-height: 80%;
}
.slider-protection__item--img .img-protection-active {
  opacity: 0;
}
.slider-protection__item--title {
  margin-top: 56px;
  font-weight: 700;
  text-transform: uppercase;
  color: #7f4130;
}
.slider-protection__item:hover .slider-protection__item--title, .slider-protection__item.slick-active.slick-center .slider-protection__item--title {
  color: #ef7f1a;
  transition: all 0.4s ease 0s;
}
.slider-protection__item:hover .img-protection, .slider-protection__item.slick-active.slick-center .img-protection {
  opacity: 0;
}
.slider-protection__item:hover .img-protection-active, .slider-protection__item.slick-active.slick-center .img-protection-active {
  opacity: 1;
}
.slider-protection__item.slick-active.slick-center .slider-protection__item--img {
  transform: scale(1.6);
}
.slider-protection__item.slick-active.slick-center::before {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%) rotate(-90deg);
  background: url(../img/icons/arrows.svg) center/contain no-repeat;
  width: 16px;
  height: 16px;
}

.activeScale .slider-protection__item--img {
  transform: scale(1.2);
}

.slick-arrow {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ef7f1a;
  font-size: 0;
  transition: all 0.4s ease 0s;
  position: absolute;
  z-index: 222;
}
.slick-arrow:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: url(../img/icons/arrows.svg) center/contain no-repeat;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease 0s;
}
.slick-arrow.slick-next:before {
  left: 54%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.slick-arrow:hover:before {
  background: url(../img/icons/arrows-hover.svg) center/contain no-repeat;
}

.section-protection__slider {
  position: relative;
  margin-left: -35px;
  margin-right: -35px;
}
.section-protection__slider .slick-arrow {
  top: 50px;
}
.section-protection__slider .slick-next {
  right: 0;
}

.protection-products {
  position: relative;
}

.products-item__tabs {
  background-color: #ef7f1a;
  padding-top: 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-left: 36px;
  padding-right: 36px;
  border-bottom: 2px solid #7f4130;
}
.products-item__tab {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 15px 35px 25px 35px;
  letter-spacing: 1.2px;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  position: relative;
}
.products-item__tab:not(:last-child) {
  border-right: 1px solid #7f4130;
}
.products-item__tab:hover, .products-item__tab.active {
  background-color: #ffffff;
  color: #7f4130;
}
.products-item__tab:hover:before, .products-item__tab.active:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  background-color: #ffffff;
  width: 100%;
}

.protection-products__items {
  background: #ffffff;
  display: none;
}
.protection-products__items.active {
  display: block;
}

.wr-section-title {
  padding: 30px 0;
}
.wr-section-title_border {
  border-bottom: 1px solid #e8efe8;
}

.section-title {
  padding-left: 56px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  position: relative;
  margin-left: 113px;
}
.section-title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 48px;
  background: #000000;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.products-item-slider__item {
  padding: 40px 5px;
  border-left: 1px solid #e8efe8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products-item-slider__item--img img {
  max-width: 100%;
}
.products-item-slider__item--content {
  margin-top: 20px;
  padding: 0 15px 0 43px;
  font-weight: 500;
}
.products-item-slider__item--title {
  font-size: 18px;
  color: #000000;
  transition: all 0.4s ease 0s;
}
.products-item-slider__item--title:hover {
  color: #7f4130;
}
.products-item-slider__item--info {
  margin-top: 10px;
}

.section__footer {
  display: flex;
  padding: 32px 105px;
}
.section__footer_border {
  border-top: 1px solid #e8efe8;
}
.section__footer-dots button {
  border: 1px solid #e9f0e9;
}
.section__footer--dop {
  margin-left: auto;
}
.section__footer--link {
  color: #8d8d8d;
  font-weight: 500;
  transition: all 0.4s ease 0s;
}
.section__footer--link:hover {
  color: #000;
}
.section__footer__dop-1 a {
  color: #ef7f1a;
}

.section-question {
  padding: 40px 0;
  background: #ffffff;
}
.section-question .wr-section-title {
  background-color: #7f4130;
  border-bottom: 2px solid #ef7f1a;
}
.section-question .wr-section-title .section-title {
  color: #ffffff;
}
.section-question .wr-section-title .section-title:before {
  background-color: #ffffff;
}
.section-question__items {
  background-color: #f0f5f0;
}
.section-question__item {
  background-color: #f0f5f0;
}
.section-question__item--main {
  padding: 20px 30px 20px 111px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  line-height: 32px;
}
.section-question__item--main:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 43px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/icons/plus.svg) center/contain no-repeat;
  transition: all 0.4s ease 0s;
}
.section-question__item.active .section-question__item--main:before {
  transform: translateY(-50%) rotate(45deg);
  width: 25px;
  height: 25px;
}
.section-question__item--content {
  padding: 20px 43px;
  font-size: 16px;
  border-bottom: 5px solid #fff;
  display: none;
}
.section-question__item--content p {
  padding: 8px 0;
}
.section-question__item_dop {
  height: 73px;
  position: relative;
  cursor: pointer;
}
.section-question__item_dop:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: url(../img/icons/arrows-arangy.svg) center/contain no-repeat;
  width: 16px;
  height: 16px;
  transition: all 0.4s ease 0s;
}
.section-question__item_dop.active::before {
  transform: translate(-50%, -50%) rotate(90deg);
}
.section-question__items--dop {
  display: none;
}
.section-question .section__footer {
  background-color: #e8efe8;
}

.section-maps {
  background: #e8efe8;
  padding: 66px 0;
}
.section-maps__row {
  max-width: 1015px;
  margin: 0 auto;
}
.section-maps__row img {
  width: 100%;
  margin-top: 20px;
  display: block;
}

.title-3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.subtitle-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}

.section-wr-title {
  margin-left: 113px;
}

.section-consultation {
  background: #7f4130 url(../img/bg-consultation.png) center/cover no-repeat;
  padding: 63px 0 50px 0;
}
.section-consultation__row {
  margin-top: 45px;
}

.form-consultation__row {
  display: flex;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.form-consultation__item {
  width: calc(33.333% - 30px);
  margin: 0 15px;
}

.info-input {
  text-transform: uppercase;
  font-weight: 600;
  color: #ffffff;
  display: block;
  margin-left: 30px;
  padding-bottom: 15px;
}

.textarea {
  background: #fff;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border: 1px solid #7f4130;
  resize: none;
  width: 100%;
}

.input-text {
  width: 100%;
  height: 57px;
  background: #fff;
  padding: 5px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  border: 1px solid #7f4130;
}

.form-row-time {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}
.form-row-time__item {
  width: calc(50% - 30px);
  margin: 0 15px;
}

.wr-select {
  position: relative;
}
.wr-select:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: url(../img/icons/arrow-select.svg) center/contain no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
.wr-select select {
  width: 100%;
  border: 1px solid #7f4130;
  background: #ffffff;
  height: 57px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
}

.form-row-btn {
  margin: 30px auto 0 auto;
  width: calc(33.333% - 20px);
}
.form-row-btn button {
  width: 100%;
}

.form-btn {
  background-color: #ef7f1a;
  border-radius: 2px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding: 21px 20px 21px 20px;
  transition: all 0.4s ease 0s;
}
.form-btn:hover {
  background: #d14908;
}

.wr-crumbs {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 26px;
}

.crumbs-list {
  display: flex;
  align-items: center;
  color: #8d8d8d;
  font-weight: 500;
  flex-wrap: wrap;
  margin-right: 20px;
}
.crumbs-list li {
  position: relative;
  padding-right: 18px;
}
.crumbs-list li:not(:last-child)::before {
  content: "/";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
}
.crumbs-list a {
  color: inherit;
  transition: all 0.4s ease 0s;
}
.crumbs-list a:hover {
  color: #000000;
}

.reset-filter {
  color: #8d8d8d;
  font-weight: 500;
  background: transparent;
  transition: all 0.4s ease 0s;
}
.reset-filter:hover {
  color: #000000;
}

.section-catalog {
  background: #e8efe8 url(../img/bg-catalog.png) 0 top/100% no-repeat;
  padding-bottom: 55px;
}
.section-catalog__row {
  display: flex;
}

.catalog-article {
  width: 263px;
  background-color: #f0f5f0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog-main {
  width: calc(100% - 263px);
  padding-left: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.catalog-main__img img {
  width: 100%;
}
.catalog-main__section-title-1 {
  background-color: #ef7f1a;
}
.catalog-main__section-title-2 {
  background-color: #ffffff;
}
.catalog-main__product-items {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
}
.catalog-main__wr-pages {
  display: flex;
  justify-content: flex-end;
  padding: 30px 37px;
  background-color: #fff;
}
.catalog-main__pages {
  display: flex;
  align-items: center;
  color: #8d8d8d;
  font-weight: 400;
}
.catalog-main__pages ul {
  display: flex;
  align-items: center;
}
.catalog-main__pages-info {
  margin-right: 55px;
}
.catalog-main__pages a {
  color: inherit;
  transition: all 0.4s ease 0s;
  padding: 0 6px;
}
.catalog-main__pages a:hover {
  color: #000;
}
.catalog-main__pages a.active {
  color: #000000;
  font-weight: 600;
}

.catalog-product-item {
  background-color: #ffffff;
  width: 33.3333%;
  border: 1px solid #e8efe8;
  padding: 40px 10px 10px 10px;
  border-right: 0;
  margin-top: -1px;
}
.catalog-product-item__bottom {
  display: flex;
  background-color: #e8efe8;
  margin-top: 33px;
}
.catalog-product-item__bottom a {
  transition: all 0.4s ease 0s;
}
.catalog-product-item__info {
  color: #000000;
  font-weight: 700;
  text-transform: uppercase;
  width: 70%;
  padding: 22px;
  text-align: center;
  background-color: #e8efe8;
}
.catalog-product-item__info:hover {
  background-color: #d0d5d0;
}
.catalog-product-item__basket {
  width: 30%;
  background: #ef7f1a url(../img/icons/bas.png) center/auto no-repeat;
}
.catalog-product-item__basket:hover {
  background-color: #d87823;
}

.catalog-article__item--top {
  background-color: #7f4130;
  box-shadow: inset 0 -2px 0 #ef7f1a;
  padding: 30px 25px 31px 55px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}
.catalog-article__item--state {
  position: absolute;
  width: 17px;
  height: 17px;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}
.catalog-article__item--state:before, .catalog-article__item--state:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ef7f1a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease 0s;
}
.catalog-article__item--state:before {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.catalog-article__item.active > .catalog-article__item--top .catalog-article__item--state:before {
  opacity: 0;
}

.prod-types-items {
  display: flex;
  flex-wrap: wrap;
}

.prod-types__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 17px;
  width: 50%;
  background-color: #f0f5f0;
  cursor: pointer;
  border: 1px solid #e8efe8;
}
.prod-types__item--img {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.prod-types__item .catalog-filter-text {
  margin-top: 14px;
  text-align: center;
}
.prod-types__item--img {
  margin-bottom: 11px;
}

.filter-checkbox input {
  display: none;
}
.filter-checkbox .icons-checkbox {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid #7f4130;
  background-color: #ffffff;
  display: block;
}
.filter-checkbox input:checked + .icons-checkbox {
  background: #ef7f1a url(../img/icons/arrow-checkbox.png) center/75% no-repeat;
  border-color: #ef7f1a;
}

.label-checkbox {
  cursor: pointer;
}
.label-checkbox:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.catalog-filter-text {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  max-width: 170px;
}

.row-type-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 25px;
  background-color: #f0f5f0;
}
.row-type-item:not(:last-child) {
  border-bottom: 1px solid #e8efe8;
}

.row-filter-dop {
  background-color: #fff;
  border-bottom: 2px solid #ef7f1a;
}
.row-filter-dop__main {
  position: relative;
  padding: 16px 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.row-filter-dop__main .catalog-article__item--state {
  left: auto;
  right: 26px;
}
.row-filter-dop__container {
  display: none;
}
.row-filter-dop__item {
  display: flex;
  align-items: center;
  background: #fff;
  justify-content: space-between;
  padding: 16px 25px 16px 55px;
  position: relative;
  border-top: 1px solid #e8efe8;
}
.row-filter-dop__item .catalog-filter-text {
  text-transform: none;
  font-weight: 500;
}
.row-filter-dop.actives .catalog-article__item--state:before {
  opacity: 0;
}
.row-filter-dop.active .row-filter-dop__container {
  display: block;
}

.wr-btn-mobfilter {
  display: none;
}

.btn-mob-filter {
  padding: 10px 20px;
  background-color: #ef7f1a;
  color: #fff;
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.8s ease 0s;
}
.btn-mob-filter:hover {
  background-color: #d87823;
}

.btn-mob-filter-close {
  width: 25px;
  height: 25px;
  background: url(../img/icons/close.svg) center/contain no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.section-product {
  background-color: #e8efe8;
}
.section-product__row {
  display: flex;
  background-color: #fff;
}
.section-product__img, .section-product__info {
  width: 50%;
}
.section-product__img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #e8efe8;
  padding: 20px;
}
.section-product__info {
  padding: 30px 16px;
}
.section-product__info--content {
  max-width: 460px;
}
.section-product__title {
  margin-top: 25px;
  color: #000000;
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-product__text {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-top: 20px;
}
.section-product__text span {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}
.section-product__wr-quantity {
  margin-top: 28px;
  display: flex;
  align-items: center;
  padding-left: 40px;
}
.section-product__quantity--text {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.section-product__quantity--select {
  min-width: 110px;
  margin: 0 15px;
}
.section-product__quantity--select select {
  border: 1px solid #7f4130;
  border-radius: 2px;
}
.section-product__wr-btn {
  display: flex;
  align-items: center;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: 25px;
}
.section-product__wr-btn .site-btn {
  width: 50%;
  margin: 0 2px;
}
.section-product__link-catalog {
  color: #ef7f1a;
  font-weight: 500;
  margin-left: 40px;
  transition: all 0.4s ease 0s;
  margin-top: 32px;
  display: block;
}
.section-product__link-catalog:hover {
  color: #000000;
}
.section-product__charac {
  margin-top: 40px;
}
.section-product__charac .products-item__tabs {
  justify-content: flex-start;
}
.section-product__charac--row {
  background-color: #fff;
  padding: 0 20px 30px 20px;
}
.section-product__charac--item {
  max-width: 954px;
  margin: 0 auto;
  padding: 40px 0;
  display: none;
}
.section-product__charac--item.active {
  display: block;
}
.section-product__charac--item ul,
.section-product__charac--item ol {
  font-size: 12px;
  font-weight: 500;
  padding-left: 40px;
  font-family: "Montserrat", sans-serif;
}
.section-product__charac--item ul li,
.section-product__charac--item ol li {
  margin-top: 15px;
  list-style-image: url(../img/icons/plus-list.png);
}
.section-product__viewed {
  margin-top: 40px;
}
.section-product__viewed .wr-section-title {
  background-color: #7f4130;
  border-bottom: 2px solid #ef7f1a;
}
.section-product__viewed .wr-section-title .section-title {
  color: #fff;
}
.section-product__viewed .wr-section-title .section-title:before {
  background-color: #fff;
}
.section-product__viewed--row {
  display: flex;
  background-color: #fff;
  flex-wrap: wrap;
}

.product-viewed__item {
  background-color: #fff;
  padding: 20px 18px 40px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 6);
}
.product-viewed__item--title {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.4s ease 0s;
  color: #000000;
}
.product-viewed__item--title a {
  color: inherit;
  transition: inherit;
}
.product-viewed__item--title a:hover {
  color: #d87823;
}
.product-viewed__item--info {
  margin-top: 15px;
  font-weight: 500;
}

.site-btn {
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  padding: 21px;
}

.site-btn-1 {
  color: #fff;
  background-color: #ef7f1a;
}
.site-btn-1:hover {
  background-color: #d87823;
}

.site-btn-2 {
  background-color: #e8efe8;
  color: #000000;
}
.site-btn-2:hover {
  background-color: #d0d5d0;
}

.type-text-1 {
  font-size: 18px;
  font-weight: 600;
}

.text-indent-1 {
  margin-top: 17px;
}

.type-text-2 {
  font-weight: 500;
  margin-top: 18px;
}

.title-text-4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.title-h1 {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 26px;
}

.section-basket {
  background-color: #e8efe8;
  padding-bottom: 40px;
}
.section-basket__items {
  margin-top: 30px;
}

.catalog-main__section-title-3 {
  background-color: #ef7f1a;
  border-bottom: 2px solid #7f4130;
}
.catalog-main__section-title-3 .section-title {
  color: #ffffff;
}
.catalog-main__section-title-3 .section-title:before {
  background-color: #fff;
}

.basket-items__head {
  display: flex;
  align-items: center;
  padding: 40px 0;
  background-color: #f0f5f0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #7f4130;
}

.basket-item_col-1 {
  width: 15%;
  padding-left: 37px;
}
.basket-item_col-2 {
  width: 60%;
}
.basket-item_col-3 {
  width: 25%;
  padding-right: 70px;
  position: relative;
}

.basket-items__product {
  background-color: #fff;
}
.basket-items__product--row {
  background-color: #ffffff;
  padding: 8px 0;
  display: flex;
  align-items: center;
}
.basket-items__product--row:not(:last-child) {
  border-bottom: 1px solid #e8efe8;
}
.basket-items__product--img {
  width: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket-items__product--num {
  display: flex;
  align-items: center;
}
.basket-items__product--num .section-product__quantity--select {
  margin-left: 0;
}
.basket-items__product--info-col {
  color: #000000;
  font-weight: 400;
}
.basket-items__product--link {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  transition: all 0.4s ease 0s;
  max-width: 80%;
  display: block;
}
.basket-items__product--link:hover {
  color: #d87823;
}
.basket-items__product--info {
  font-weight: 500;
  max-width: 80%;
  display: block;
}
.basket-items__product--add {
  background-color: #f0f5f0;
  padding: 39px 40px 39px 113px;
}
.basket-items__product--add a {
  font-weight: 700;
  text-transform: uppercase;
  color: #ef7f1a;
  transition: all 0.4s ease 0s;
}
.basket-items__product--add a:hover {
  color: #000000;
}

.remove-product {
  position: absolute;
  right: 50px;
  top: 50%;
  width: 14px;
  height: 14px;
  background: url(../img/icons/close-prod.png) center/contain no-repeat;
  transform: translateY(-50%);
  transition: all 0.4s ease 0s;
}
.remove-product:hover {
  transform: translateY(-50%) rotate(90deg);
}

.request {
  margin-top: 30px;
  padding-bottom: 50px;
  background-color: #f0f5f0;
}
.request .section-title {
  color: #ffffff;
}
.request .section-title:before {
  background-color: #ffffff;
}
.request__row {
  max-width: 975px;
  margin: 40px auto 0 auto;
}
.request__item-col {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}
.request__item-col .form-consultation__item {
  width: calc(50% - 30px);
  margin: 0 15px;
}
.request__item {
  width: 100%;
  margin: 0;
}
.request .form-consultation__item {
  margin-top: 30px;
}
.request__info {
  color: #7f4130;
  font-weight: 400;
  margin-top: 40px;
  padding-left: 25px;
  font-weight: 500;
}
.request .info-input {
  color: #8d8d8d;
}
.request .input-text {
  background-color: #f0f5f0;
  border: 1px solid #959595;
  color: #8d8d8d;
}
.request .wr-select select {
  background-color: #f0f5f0;
  border: 1px solid #959595;
  color: #8d8d8d;
}
.request .wr-select:before {
  opacity: 0.5;
}
.request .textarea {
  background-color: #f0f5f0;
  border: 1px solid #959595;
}
.request .form-row-btn {
  margin-top: 40px;
}
.request .form-row-btn {
  min-width: 360px;
}

.wr-section-title-4 {
  background-color: #7f4130;
  border-bottom: 2px solid #ef7f1a;
}

.js-fotm-item.active .input-text,
.js-fotm-item.active select,
.js-fotm-item.active textarea {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #7f4130;
}
.js-fotm-item.active .info-input {
  color: #000000;
}

input.error,
select.error,
textarea.error {
  border-color: red;
  background: rgba(255, 0, 0, 0.6);
}

.request__item .textarea {
  height: 57px;
}

.request__form .request__item.active input.error,
.request__form .request__item.active select.error,
.request__form .request__item.active textarea.error,
.request__form .request__item-col.active input.error,
.request__form .request__item-col.active select.error,
.request__form .request__item-col.active textarea.error {
  border-color: red !important;
  background: rgba(255, 0, 0, 0.6) !important;
}

.footer {
  background: #ffffff;
  padding: 24px 0 13px 0;
}
.footer__row {
  border-bottom: 2px solid #7f4130;
}
.footer__tabs {
  display: flex;
  padding: 20px 25px 0 25px;
  background-color: #ef7f1a;
  border-bottom: 2px solid #7f4130;
}
.footer__tab {
  width: 25%;
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 20px 30px 55px;
  transition: all 0.4s ease 0s;
}
.footer__tab:not(:last-child) {
  border-right: 1px solid #7f4130;
}
.footer__tab:before {
  content: "";
  transition: all 0.4s ease 0s;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  bottom: -2px;
  left: 0;
  opacity: 0;
}
.footer__tab:hover {
  color: #7f4130;
  background-color: #ffffff;
}
.footer__tab:hover:before {
  opacity: 1;
}
.footer__bottom {
  display: flex;
  align-items: center;
  max-width: 940px;
  margin: 40px auto 0 auto;
  justify-content: space-between;
  padding-bottom: 30px;
}
.footer__social {
  display: flex;
  align-items: center;
}
.footer__social--item {
  transition: all 0.4s ease 0s;
  width: 20px;
  height: 20px;
  margin: 0 20px;
}
.footer__social--item svg {
  fill: #7f4130;
  opacity: 0.8;
  transition: inherit;
}
.footer__social--item:hover svg {
  fill: #000000;
  opacity: 1;
}
.footer .copyright,
.footer .razrab {
  color: #000000;
  font-weight: 500;
}
.footer .copyright a,
.footer .razrab a {
  color: inherit;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.popup__opas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup__wrapp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 3px;
  z-index: 9999;
  padding: 50px 20px;
  max-width: 460px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.popup__close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  transition: 0.4s;
  cursor: pointer;
  background: url(../img/icons/close.svg) 50% 50%/65% no-repeat;
}

.popup-title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

.wr-popup-form {
  margin-top: 30px;
}
.wr-popup-form .info-input {
  color: #000000;
  padding-bottom: 7px;
}
.wr-popup-form .form-consultation__item {
  width: 100%;
  margin: 0;
  margin-bottom: 15px;
}
.wr-popup-form .textarea {
  height: 100px;
}
.wr-popup-form .form-row-btn {
  width: 50%;
  min-width: 210px;
}

.scroll-up {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 100;
  width: 45px;
  height: 45px;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: inset 0 0 0 3px #dcdcdc;
  transition: all 0.4s ease 0s;
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
}
.scroll-up:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 3px solid #ef7f1a;
  width: 10px;
  height: 10px;
  border-right-width: 0;
  border-bottom-width: 0;
  transition: inherit;
  opacity: 0.6;
}
.scroll-up__path {
  box-sizing: border-box;
  fill: none;
  stroke: #ef7f1a;
  stroke-width: 3px;
  transition: all 0.4s ease 0s;
}
.scroll-up.scroll-up_active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.scroll-up:hover:before {
  border-color: red;
  opacity: 1;
}

@media (max-width: 1400px) {
  .wr-btn-price {
    margin-right: 0;
  }

  .section-protection__slider {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    max-width: 160px;
  }

  .header-menu ul li:not(:first-child) {
    padding-left: 10px;
  }

  .products-item__tab {
    padding: 10px 10px 10px 10px;
  }

  .products-item__tabs {
    padding-left: 10px;
    padding-right: 10px;
  }

  .request__row {
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .header__main {
    margin-left: 20px;
  }

  .header-menu ul a {
    font-size: 10px;
  }

  .products-item__tabs {
    flex-wrap: wrap;
  }

  .products-item__tab {
    margin-bottom: 10px;
  }

  .slider-protection__item.slick-active.slick-center .slider-protection__item--img {
    transform: scale(1.2);
  }

  .activeScale .slider-protection__item--img {
    transform: scale(1);
  }

  .section-title {
    margin-left: 20px;
  }

  .basket-items__product--add {
    padding: 20px;
  }

  .section-wr-title {
    margin-left: 0;
  }

  .section__footer {
    padding: 20px 30px;
  }

  .scroll-up {
    right: 30px;
    bottom: 30px;
    width: 35px;
    height: 35px;
  }

  .footer__tab {
    padding: 10px 15px 15px 15px;
  }

  .basket-item_col-1 {
    padding-left: 15px;
  }

  .basket-item_col-3 {
    padding-right: 40px;
  }

  .remove-product {
    right: 20px;
  }
}
@media (max-width: 992px) {
  .input-text,
.wr-select select {
    height: 45px;
  }

  .request__item .textarea {
    height: 45px;
  }

  .form-btn {
    padding: 15px;
  }

  .catalog-product-item {
    width: 50%;
  }

  .product-viewed__item {
    width: calc(100% / 4);
  }

  .basket-item_col-2 {
    width: 55%;
  }

  .basket-item_col-3 {
    width: 30%;
  }
}
@media (max-width: 870px) {
  .header__row {
    padding: 5px 0 0 0;
  }
  .header__main {
    margin-left: auto;
  }
  .header__head {
    border: none;
    padding-bottom: 0;
  }

  .menu-burger {
    display: block;
    margin-right: -13px;
  }

  .slose-mob-menu {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 20px;
  }
  .slose-mob-menu::before, .slose-mob-menu::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 3px;
    background: #000000;
  }
  .slose-mob-menu::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .slose-mob-menu:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .header__main--menu {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -150%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .wr-header-menu {
    position: fixed;
    height: 100%;
    width: 365px;
    right: -150%;
    top: 0;
    background: #ffffff;
    padding: 40px 20px;
    box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.4);
    z-index: 9999;
    transition: all 0.4s ease 0s;
  }

  .header__main--menu.active {
    right: 0;
    z-index: 2222;
  }
  .header__main--menu.active .wr-header-menu {
    right: 0;
  }

  .header-menu ul {
    flex-direction: column;
  }
  .header-menu ul li::before {
    display: none;
  }
  .header-menu ul li:not(:first-child) {
    padding-left: 0;
  }
  .header-menu ul a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 150px;
  }

  .wr-crumbs,
.title-h1 {
    padding-left: 0;
  }

  .btn-mob-filter-close {
    display: block;
  }

  .wr-btn-price {
    width: 120px;
    height: 120px;
  }

  .btn-price {
    width: 80px;
    height: 80px;
  }

  .btn-price__content--title {
    font-size: 11px;
  }

  .btn-price__content--subtitle {
    font-size: 8px;
  }

  .section-slider .slick-dots {
    top: 105px;
    left: 15%;
  }

  .main-slider__content {
    padding: 15px 15px 15px 40px;
  }

  .main-slider__content--title {
    font-size: 14px;
  }

  .main-slider__content--subtitle {
    font-size: 18px;
  }

  .products-item__tab {
    font-size: 10px;
  }

  .wr-section-title {
    padding-right: 20px;
  }

  .section__footer {
    flex-wrap: wrap;
  }

  .protection-products__item .section__footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .protection-products__item .section__footer--dop {
    margin-left: 10px;
    margin-top: 20px;
  }

  .section__footer--link {
    font-size: 14px;
  }

  .wr-section-title {
    padding: 15px 10px;
  }

  .section-question__item--main {
    padding: 10px 20px 10px 50px;
  }
  .section-question__item--main:before {
    left: 15px;
  }

  .section-maps {
    padding: 30px 0;
  }

  .section-consultation {
    padding: 30px 0;
  }

  .form-consultation__row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .form-consultation__item--dop {
    margin-top: 20px;
  }

  .info-input {
    margin-left: 19px;
  }

  .form-consultation__item {
    width: calc(50% - 30px);
  }

  .footer__tab {
    font-size: 12px;
    width: 50%;
  }
  .footer__tab:nth-child(2n+2) {
    border: none;
  }

  .footer__tabs {
    flex-wrap: wrap;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__social {
    margin: 15px 0;
  }

  .catalog-article {
    position: fixed;
    left: -150%;
    top: 0;
    z-index: 9999;
    height: 100%;
    overflow-y: auto;
    padding-top: 40px;
    transition: all 0.4s ease 0s;
  }
  .catalog-article.active {
    left: 0;
  }

  .catalog-main {
    width: 100%;
    padding-left: 0;
  }

  .catalog-main__wr-pages {
    padding: 20px;
  }

  .catalog-main__pages-info {
    margin-right: 30px;
  }

  .wr-btn-mobfilter {
    display: block;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .products-item-slider__item--content {
    padding-left: 20px;
  }

  .section-product__row {
    flex-direction: column;
  }

  .section-product__img,
.section-product__info {
    width: 100%;
  }

  .section-product__info--content {
    max-width: 100%;
  }

  .section-product__title {
    padding: 10px 20px 20px 20px;
  }

  .section-product__wr-quantity {
    padding-left: 0;
  }

  .section-product__charac--item {
    padding: 30px 0;
  }

  .product-viewed__item {
    width: calc(100% / 3);
  }

  .type-text-1 {
    font-size: 16px;
  }

  .basket-item_col-2 {
    width: 50%;
  }

  .basket-item_col-3 {
    width: 35%;
  }

  .request__item,
.request__item-col .form-consultation__item {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }

  .request__item-col {
    flex-direction: column;
    margin: 0;
  }

  .request__info {
    padding-left: 0;
  }

  .request {
    padding: 20px 0;
  }
}
@media (max-width: 670px) {
  .basket-items__head {
    display: none;
  }

  .basket-items__product--row {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    position: relative;
  }

  .basket-item__col {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .basket-item_col-2 {
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .basket-item_col-3 {
    margin-top: 20px;
    position: unset;
  }

  .remove-product {
    top: 30px;
    right: 20px;
  }
}
@media (max-width: 590px) {
  .product-viewed__item {
    width: calc(100% / 2);
  }
}
@media (max-width: 480px) {
  .header__logo {
    max-width: 100px;
  }
  .header__head--basket {
    margin-right: 20px;
  }
  .header__row {
    padding: 0;
  }

  .menu-burger {
    margin-left: 10px;
  }

  .form-consultation__item {
    width: calc(100% - 30px);
  }

  .form-row-btn {
    width: 100%;
  }

  .form-consultation__item:not(:first-child) {
    margin-top: 20px;
  }

  .footer__tab {
    width: 100%;
  }
  .footer__tab:not(:last-child) {
    border-right: 0;
    border-bottom: 1px solid #7f4130;
  }

  .catalog-product-item {
    width: 100%;
  }

  .section-product__wr-btn {
    flex-direction: column;
  }
  .section-product__wr-btn .site-btn {
    width: 100%;
    margin: 10px 2px 0 2px;
  }

  .request .form-row-btn {
    min-width: 100%;
  }
}
@media (max-width: 420px) {
  .product-viewed__item {
    width: calc(100% / 1);
    align-items: center;
  }

  .product-viewed__item--img {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 360px) {
  /**/
}